alabaster==0.7.12
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.11.6
asttokens==2.0.5
attrs==21.4.0
Babel==2.10.1
backcall==0.2.0
bash_kernel==0.7.2
beautifulsoup4==4.11.1
bleach==5.0.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
commonmark==0.9.1
css-html-js-minify==2.5.5
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
diskcache==5.4.0
docutils==0.17.1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
fonttools==4.33.3
gmsh==4.10.3
greenlet==1.1.2
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.4
iniconfig==1.1.1
ipydatawidgets==4.3.1.post1
ipykernel==6.13.1
ipyparallel==8.3.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.6.0
jupyter-cache==0.5.0
jupyter-client==6.1.12
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.10.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
jupytext==1.13.8
kiwisolver==1.4.3
latexcodec==2.0.1
lazy-object-proxy==1.7.1
lxml==4.9.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mdit-py-plugins==0.3.0
mdurl==0.1.1
meshio==5.3.4
mistune==0.8.4
mpmath==1.2.1
myst-nb==0.15.0
myst-parser==0.17.2
nbclient==0.5.13
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.12
numpy==1.22.4
packaging==21.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pluggy==1.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pybtex==0.24.0
pybtex-docutils==1.0.2
pycparser==2.21
pyevtk==1.5.0
Pygments==2.12.0
pymor==2021.2.1
PyOpenGL==3.1.6
pyparsing==3.0.9
pyrsistent==0.18.1
PySide2==5.13.2
pytest==7.1.2
python-dateutil==2.8.2
python-slugify==6.1.2
pythreejs==2.3.0
pytz==2022.1
PyYAML==6.0
pyzmq==23.1.0
qrcode==7.3.1
QtPy==2.1.0
requests==2.28.0
rich==12.4.4
rise==5.7.1
scipy==1.8.1
Send2Trash==1.8.0
shiboken2==5.13.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==4.5.0
sphinx-autoapi==1.8.4
sphinx-material==0.0.35
sphinx-qt-documentation==0.4
sphinx-togglebutton==0.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.4.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.37
stack-data==0.2.0
sympy==1.10.1
tabulate==0.8.9
terminado==0.15.0
text-unidecode==1.3
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
torch==1.11.0
tornado==6.1
tqdm==4.64.0
traitlets==5.2.2.post1
traittypes==0.2.1
typer==0.4.1
typing_extensions==4.2.0
Unidecode==1.3.4
urllib3==1.26.9
vtk @ https://github.com/pyvista/pyvista-wheels/raw/main/vtk-9.1.0.dev0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.0
wrapt==1.14.1
xmljson==0.2.1
zipp==3.8.0
